<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="css\snotify-material.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js\snotify.min.js"></script>

    <link rel="stylesheet" href="css\styles.css">

    <title>Newsleter Generator v2</title>
    <link rel="icon" href="imgs\icons8-news-128.png">
  </head>
  <body>
    <div id="body-wrapper">
      <aside id="sidebar" @mouseover="sidebarHover = true" @mouseleave="sidebarHover = false" :class="{open: sidebarHover || sidebarStuck, stuck: sidebarStuck}">
        <span class="sidebar-title">
          <i class="fa fa-th fa-2x"></i> <p class="collapsed">Newsletter Generator</p>
        </span>
        <a class="sidebar-pin" @click="sidebarStuck = !sidebarStuck"><i class="fas fa-thumbtack"></i></a>
        <ul class="sidebar-menu">
          <li class="sidebar-item" :class="{active: activeView === 'setup'}" @click="activeView = 'setup'; scrollToTop()">
            <i class="fa fa-toolbox fa-2x"></i> <p class="collapsed">Setup</p>
          </li>
          <li class="sidebar-item" :class="{active: activeView === 'edit'}" @click="activeView = 'edit'; scrollToTop()">
            <i class="fa fa-edit fa-2x"></i> <p class="collapsed">Edit Items</p>
          </li>
          <li class="sidebar-item" :class="{active: activeView === 'analytics'}" @click="activeView = 'analytics'; scrollToTop()">
            <i class="fa fa-chart-pie fa-2x"></i> <p class="collapsed">Analytics</p>
          </li>
          <li class="sidebar-item" :class="{active: activeView === 'preview'}" @click="activeView = 'preview'; scrollToTop()">
            <i class="fa fa-eye fa-2x"></i> <p class="collapsed">Preview</p>
          </li>
        </ul>
        <span class="sidebar-split"></span>
        <ul class="sidebar-menu">
          <li class="sidebar-item" :class="{active: activeView === 'load'}" @click="activeView = 'load'; scrollToTop()">
            <i class="fa fa-toolbox fa-2x"></i> <p class="collapsed">Load / Save</p>
          </li>
          <li class="sidebar-item" :class="{active: activeView === 'use'}" @click="activeView = 'use'; scrollToTop()">
            <i class="fa fa-file-export fa-2x"></i> <p class="collapsed">Use Newsletter</p>
          </li>
        </ul>

        <span class="footer">
          Randy Bimm<br>
          &copy; 2020
      </aside>
      <aside id="preview"  :class="{large: activeView == 'preview'}">
        <div class="preview-header">
          <h3>Newsletter Preview</h3>
        </div>
        <div class="preview-body">
          <table align="center" style="overflow-wrap: break-word; max-width: 800px; width: 100%; Margin: 5px auto 0px;border-spacing:0 9px;border-collapse: separate;" ref="newsletter">
            <tr v-if="header.style == '1'" style="position:relative;width: 100%; border-radius: 15px; padding: 10px; align-items: center;">
              <td colspan="2" valign="middle">
                <img :src="header.image" width="100%" style="width:100%">
              </td>
            </tr>
            <tr v-else-if="header.style == '2'" style="position:relative;width: 100%; border-radius: 15px; padding: 10px; align-items: left; border-color: #f3f3f3" :style="{'background-color': colors.header.background}">
              <td colspan="2" valign="middle" style="padding: 25px">
                <h2 style="margin:0;text-align:center;" :style="{color: colors.header.text}">{{header.title}}</h2>
                <h4 style="margin:0;text-align:center;" :style="{color: colors.header.text}">{{header.subtitle}}</h4>
              </td>
            </tr>
            <tr v-else-if="header.style == '3'" style="position:relative;width: 100%; border-radius: 15px; padding: 10px; align-items: left; border-color: #f3f3f3" :style="{'background-color': colors.header.background}">
              <td colspan="2" valign="middle" style="padding: 25px">
                 <span v-html="header.html" :style="{color: colors.header.text}"></span>
              </td>
            </tr>
            <tr v-for="post in posts" style="position:relative;width: 100%; background: #f3f3f3; border-radius: 15px; padding: 10px; align-items: left; border-color: #f3f3f3">
              <td v-if="post.img" width="200px" style="width:200px; padding-right:25px;" valign="top"><img :src="post.img" width="200" height="150" style="width: 100%;min-width:200px; height: auto;padding: 10px;"></td>
              <td v-if="post.img" style="width:100%;padding:10px; padding-bottom: 20px;">
                 <h2 style="margin-bottom:0;">{{post.title}}</h2><p style="font-size: .75em; color: #777;">{{post.date}}</p><p>{{post.desc}}</p>
                 <table v-if="post.link" width="100%" border="0" cellspacing="0" cellpadding="0"> <tr> <td> <table border="0" cellspacing="0" cellpadding="0"> <tr> <td :bgcolor="colors.button" style="padding: 12px 18px 12px 18px; border-radius:3px;" align="center"><a target="_blank" :href="post.link" style="color: #fff;text-decoration:none;"><strong style="font-weight:normal">Read More</strong></a></td> </tr> </table> </td> </tr> </table></td>
              <td v-else colspan="2" style="width:100%;padding:10px; padding-bottom: 20px;">
                <h2 style="margin-bottom:0;">{{post.title}}</h2><p style="font-size: .75em; color: #777;">{{post.date}}</p><p>{{post.desc}}</p>
                <table v-if="post.link"  width="100%" border="0" cellspacing="0" cellpadding="0"> <tr> <td> <table border="0" cellspacing="0" cellpadding="0"> <tr> <td :bgcolor="colors.button" style="padding: 12px 18px 12px 18px; border-radius:3px;" align="center"><a target="_blank" :href="post.link" style="color: #fff;text-decoration:none;"><strong style="font-weight:normal">Read More</strong></a></td> </tr> </table> </td> </tr> </table></td>
            </tr>
            <tr v-if="footer.style == '1'" style="position:relative;width: 100%; border-radius: 15px; padding: 10px; align-items: left; border-color: #f3f3f3" :style="{'background-color': colors.footer.background}">
              <td colspan="2" valign="middle" style="padding: 25px">
                <p v-if="footer.preset.website || footer.preset.social.facebook || footer.preset.social.linkedin || footer.preset.social.twitter" style="margin:0;margin-bottom: 10px;text-align:center;color:#fff;">
                  <a v-if="footer.preset.website" :href="footer.preset.website" target="_blank" :style="{color: colors.links}">Website</a>
                  <span v-if="footer.preset.social.facebook"><span v-if="footer.preset.website"> | </span><a :href="footer.preset.social.facebook" target="_blank" :style="{color: colors.links}">Facebook</a></span>
                  <span v-if="footer.preset.social.linkedin"><span v-if="footer.preset.website || footer.preset.social.facebook"> | </span><a :href="footer.preset.social.linkedin" target="_blank" :style="{color: colors.links}">LlinkedIn</a></span>
                  <span v-if="footer.preset.social.twitter"><span v-if="footer.preset.website || footer.preset.social.facebook || footer.preset.social.linkedin"> | </span><a :href="footer.preset.social.twitter" target="_blank" :style="{color: colors.links}">Twitter</a></span>
                </p>
                <h3 v-if="footer.preset.name" style="margin:0;margin-bottom: 10px;text-align:center;" :style="{color: colors.footer.text}">{{footer.preset.name}}</h3>
                <p v-if="footer.preset.location.address || footer.preset.location.city || footer.preset.location.postal" style="margin:0;text-align:center;" :style="{color: colors.footer.text}">
                  <span v-if="footer.preset.location.address" :style="{color: colors.footer.text}">{{footer.preset.location.address}}</span>
                  <span v-if="footer.preset.location.city" :style="{color: colors.footer.text}"><span v-if="footer.preset.location.address"> | </span>{{footer.preset.location.city}},{{footer.preset.location.province}}</span>
                  <span v-if="footer.preset.location.postal" :style="{color: colors.footer.text}"><span v-if="footer.preset.location.address || footer.preset.location.city"> | </span>{{footer.preset.location.postal}}</span>
                </p>
                <p v-if="footer.preset.phone" style="margin:0;margin-bottom: 10px;text-align:center;":style="{color: colors.footer.text}">{{footer.preset.phone}}</p>
                <p style="margin: 0;margin-bottom:5px;font-size:10px; text-align: center;":style="{color: colors.footer.text}">Copyright © {{(new Date().getFullYear())}}  All rights reserved.<br>
	         The persons and situations depicted are fictional and their resemblance to anyone living or dead is purely coincidental. This media is for information purposes only and is not intended to provide specific financial, tax, legal, accounting or other advice and should not be relied upon in that regard. Manulife Securities related companies are 100% owned by The Manufactures Life Insurance Company (MLI) which is 100% owned by the Manulife Financial Corporation a publicly traded company. Details regarding all affiliated companies of MLI can be found on the Manulife Securities website <a href="http://www.manulifesecurities.ca"  target="_blank" :style="{color: colors.links}">www.manulifesecurities.ca</a>. Please confirm with your advisor which company you are dealing with for each of your products and services.<br><br>
	         <em><a href="http://co.manulife.ca/securities/ms_corporatedisclaimers" target="_blank" :style="{color: colors.links}">Manulife Securities Disclaimers</a> | <a href="https://www.manulife.ca/corporate/privacy-policy.html" target="_blank" :style="{color: colors.links}">Privacy Policy</a> | <a href="https://www.manulife.com/en/legal.html" target="_blank" :style="{color: colors.links}">Legal</a></em></p>
            <p v-if="footer.preset.email" style="margin: 0;font-size:12px; text-align: center;"><a :href="'mailto:' + footer.preset.email + '?subject=Unsubscribe from newsletters'":style="{color: colors.links}">Unsubscribe from newsletters</a></p
              </td>
            </tr>
            <tr v-else-if="footer.style == '2'" style="position:relative;width: 100%; border-radius: 15px; padding: 10px; align-items: left; border-color: #f3f3f3" :style="{'background-color': colors.footer.background}">
              <td colspan="2" valign="middle" style="padding: 25px">
                 <span v-html="footer.html" :style="{color: colors.footer.text}"></span>
              </td>
            </tr>
            <tr v-if="analyticsEnabled">
              <td colspan="2"><img :src="'https://www.google-analytics.com/collect?v=1&tid'+analytics.code+'&cid=555&t=event&ec=Email+Newsletter&ea=open&el='+analytics.name"/></td>
            </tr>
          </table>
        </div>
      </aside>
      <main id="main" ref="main">
      <vue-snotify></vue-snotify>
        <div id="setup" class="main-view" :class="{open: activeView === 'setup'}">
          <div class="card">
            <h3 class="card-title">Load Posts For the Newsletter</h3>
            <p>Load Multiple Posts</p>
            <div class="form-item split">
              <div>
                <input type="text" id="loadPosts" required ref="loadPosts">
                <label for="loadPosts">Post Page's URL</label>
              </div>
              <input type="number" id="loadPostsCount" required ref="loadPostsCount" value="6">
              <input type="button" value="Load Posts" @click="loadPostsFromURL">
            </div>
            <p>Load Individual Posts</p>
            <div class="form-item split">
              <div>
                <input type="text" id="loadPost" required ref="loadPost">
                <label for="loadPost">Post's URL</label>
              </div>
              <input type="button" value="Load Post" @click="loadPostFromURL">
            </div>
          </div>
          <div class="card">
            <h3 class="card-title">Header Settings</h3>
            <div class="accordion" :class="{open: header.style == 0}" @click="header.style = 0">
              <div class="accordion-title">
                <p>No Header</p>
              </div>
            </div>
            <div class="accordion" :class="{open: header.style == 1}" @click="header.style = 1">
              <div class="accordion-title">
                <p>Use Image</p>
              </div>
              <div class="accordion-content">
                <div class="form-item">
                  <input type="text" id="header-image" v-model="header.image" required>
                  <label for="header-image">Header Image URL</label>
                </div>
              </div>
            </div>
            <div class="accordion" :class="{open: header.style == 2}" @click="header.style = 2">
              <div class="accordion-title">
                <p>Use Titles</p>
              </div>
              <div class="accordion-content">
                <div class="form-item">
                  <input type="text" id="header-title" v-model="header.title" required>
                  <label for="header-title">Header Title</label>
                </div>
                <div class="form-item">
                  <input type="text" id="header-subtitle" v-model="header.subtitle" required>
                  <label for="header-subtitle">Header Subtitle</label>
                </div>
              </div>
            </div>
            <div class="accordion" :class="{open: header.style == 3}"  @click="header.style = 3">
              <div class="accordion-title">
                <p>Custom HTML</p>
              </div>
              <div class="accordion-content">
                <div class="form-item">
                  <textarea id="header-html" v-model="header.html" required></textarea>
                  <label for="header-html">Header HTML</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <h3 class="card-title">Footer Settings</h3>
            <div class="accordion" :class="{open: footer.style == 0}" @click="footer.style = 0">
              <div class="accordion-title">
                <p>No Footer</p>
              </div>
            </div>
            <div class="accordion" :class="{open: footer.style == 1}" @click="footer.style = 1">
              <div class="accordion-title">
                <p>Use Template</p>
              </div>
              <div class="accordion-content">
                <div class="form-item split even">
                  <div>
                    <input type="text" id="footer-preset-name" v-model="footer.preset.name" required>
                    <label for="footer-preset-name">Name</label>
                  </div>
                  <div>
                    <input type="text" id="footer-preset-email" v-model="footer.preset.email" required>
                    <label for="footer-preset-email">Email</label>
                  </div>
                </div>
                <div class="form-item split even">
                  <div>
                    <input type="text" id="footer-preset-phone" v-model="footer.preset.phone" required>
                    <label for="footer-preset-phone">Phone</label>
                  </div>
                  <div>
                    <input type="text" id="footer-preset-website" v-model="footer.preset.website" required>
                    <label for="footer-preset-website">Website</label>
                  </div>
                </div>
                <div class="form-item split even">
                  <div>
                    <input type="text" id="footer-preset-social-facebook" v-model="footer.preset.social.facebook" required>
                    <label for="footer-preset-social-facebook">Facebook Page</label>
                  </div>
                  <div>
                    <input type="text" id="footer-preset-social-linkedin" v-model="footer.preset.social.linkedin" required>
                    <label for="footer-preset-social-linkedin">LinkedIn Page</label>
                  </div>
                </div>
                <div class="form-item split even">
                  <div>
                    <input type="text" id="footer-preset-social-twitter" v-model="footer.preset.social.twitter" required>
                    <label for="footer-preset-social-twitter">Twitter Page</label>
                  </div>
                  <div></div>
                </div>
                <div class="form-item split even">
                  <div>
                    <input type="text" id="footer-preset-location-address" v-model="footer.preset.location.address" required>
                    <label for="footer-preset-location-address">Address</label>
                  </div>
                  <div>
                    <input type="text" id="footer-preset-location-city" v-model="footer.preset.location.city" required>
                    <label for="footer-preset-location-city">City</label>
                  </div>
                </div>
                <div class="form-item split even">
                  <div>
                    <input type="text" id="footer-preset-location-province" v-model="footer.preset.location.province" required>
                    <label for="footer-preset-location-province">Province</label>
                  </div>
                  <div>
                    <input type="text" id="footer-preset-location-postal" v-model="footer.preset.location.postal" required>
                    <label for="footer-preset-location-postal">Postal</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion" :class="{open: footer.style == 2}"  @click="footer.style = 2">
              <div class="accordion-title">
                <p>Custom HTML</p>
              </div>
              <div class="accordion-content">
                <div class="form-item">
                  <textarea id="footer-html" v-model="footer.html" required></textarea>
                  <label for="footer-html">Footer HTML</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <h3 class="card-title">Colour Settings</h3>
            <span class="card-title-icon" title="If you can't change the color, try changing the vertical slider"><i class="fas fa-question-circle tool-icon"></i></span>
            <div class="form-item split even">
              <div>
                <input id="buttonColor" type="color" v-model="colors.button" :class="{light: isLight(colors.button)}">
                <label for="buttonColor">Button Colour</label>
            </div>
              <div>
                <input id="linkColor" type="color" v-model="colors.links" :class="{light: isLight(colors.links)}">
                <label for="linkColor">Link Colour</label>
              </div>
            </div>
            <div class="form-item split even">
                <div>
                  <input id="headerColor" type="color" v-model="colors.header.background" :class="{light: isLight(colors.header.background)}">
                  <label for="headerColor">Header Colour</label>
              </div>
              <div>
                <input id="headerText" type="color" v-model="colors.header.text" :class="{light: isLight(colors.header.text)}">
                <label for="headerText">Header Text</label>
              </div>
            </div>
            <div class="form-item split even">
                <div>
                  <input id="footerColor" type="color" v-model="colors.footer.background" :class="{light: isLight(colors.footer.background)}">
                  <label for="footerColor">Footer Colour</label>
              </div>
              <div>
                <input id="footerText" type="color" v-model="colors.footer.text" :class="{light: isLight(colors.footer.text)}">
                <label for="footerText">Footer Text</label>
              </div>
            </div>
          </div>
        </div>
        <div id="edit" class="main-view" :class="{open: activeView === 'edit'}">

          <div class="card">
            <h3 class="card-title">Edit Newsletter</h3>
            <span class="card-title-icon" title="Add Custom Post" @click="addPost"><i class="far fa-plus-square tool-icon"></i></span>
            <div class="edit-newsletter">
              <ul class="newsletter-list">
                <p v-if="posts.length == 0">No Posts Loaded Yet</p>
                <li v-for="(post, pos) in posts" class="card" style="margin-bottom:10px;" :key="pos">

                  <div class="tool-list vertical">
                    <div class="tool-list vertical">
                      <i v-if="pos > 0" class="fas fa-chevron-up tool-icon" @click="movePost(0, pos)" title="Top"></i>
                      <i v-if="pos > 0" class="fas fa-sort-up tool-icon" @click="movePost(pos-1, pos)" title="Up"></i>
                    </div>
                    <div class="tool-list vertical">
                      <i v-if="pos != posts.length-1" class="fas fa-sort-down tool-icon" @click="movePost(1, pos)" title="Down"></i>
                      <i v-if="pos != posts.length-1" class="fas fa-chevron-down tool-icon" @click="movePost(posts.length, pos)" title="Bottom"></i>
                    </div>
                  </div>
                  <div class="post">
                      <img v-if="post.img" :src="post.img">
                    <div class="data">
                      <div class="form-item">
                        <input :id="'post-title-'+pos" type="text" v-model="post.title" required>
                        <label :for="'post-title-'+pos">Title</label>
                      </div>
                      <div class="form-item">
                        <textarea :id="'post-desc-'+pos" v-model="post.desc"required></textarea>
                        <label :for="'post-desc-'+pos">Description</label>
                      </div>
                      <div class="form-item">
                        <input :id="'post-date-'+pos" type="text" v-model="post.date" style="font-size: 11px" required>
                        <label :for="'post-date-'+pos">Date</label>
                      </div>
                      <div class="form-item">
                        <input :id="'post-link-'+pos" type="text" v-model="post.link" style="font-size: 11px" required>
                        <label :for="'post-link-'+pos">Link</label>
                      </div>
                      <div class="form-item">
                        <input :id="'post-image-'+pos" type="text" v-model="post.img" style="font-size: 11px" required>
                        <label :for="'post-image-'+pos">Image URL</label>
                      </div>
                    </div>
                  </div>
                  <span class="tool-list">
                    <i class="fas fa-trash-alt tool-icon" @click="deletePost(pos)" title="Remove Post"></i>
                  </span>
                </li>
            </div>
          </div>
        </div>
        <div id="analytics" class="main-view" :class="{open: activeView === 'analytics'}">

          <div class="card">
            <h3 class="card-title">Google Analytics</h3>
            <div class="form-item">
              <input type="text" id="analytics-code" v-model="analytics.code" required>
              <label for="analytics-code">Analytics Code</label>
            </div>
            <div class="form-item">
              <input type="text" id="analytics-name" v-model="analytics.name" required>
              <label for="analytics-name">Newsletter Tracking Name</label>
            </div>
          </div>
          <div class="card">
            <h3 class="card-title">How To Setup Analytics?</h3>
            <ol>
              <li>If you don't have access to your Google Analytics, please send our team at SiteForward an email requesting access<br><small>Please include your Google Email in your request</small></li>
              <li>Open your Google Analytics account and get your Google Analytics ID<br><small>Similar to: (UA-XXXXXX-1) - <a href="https://support.google.com/analytics/answer/1008080?hl=en" target="_blank">Need Help?</a></small></li>
              <li>Enter your Newsletter's name</li>
            </ol>
          </div>  <div class="card">
              <h3 class="card-title">How To View Analytics?</h3>
              <ol>
                <li>Open your Google Analytics Dashboard</li>
                <li>Open your Events tab<br><small>Located under the Realtime tab</small></li>
              </ol>
            </div>
        </div>

        <div id="load" class="main-view" :class="{open: activeView === 'load'}">
          <div class="card">
            <h3 class="card-title">Option Management</h3>
            <span class="card-title-icon" title="Hover over each button for more help"><i class="fas fa-question-circle tool-icon"></i></span>
            <div class="form-item split even">
              <input type="button" value="Load Options Locally" @click="loadOptions" title="Load Options that have been saved into your browser">
              <input type="button" value="Import Options" @click="importOptions" title="Load Options that have been saved into a .json file">
            </div>
            <div class="form-item split even">
              <input type="button" value="Save Options Locally" @click="saveOptions" title="Save Options into your browser">
              <input type="button" value="Export Options" @click="exportOptions" title="Save Options into a .json file">
            </div>
          </div>
          <div class="card">
            <h3 class="card-title">Post Management</h3>
            <div class="form-item split even">
              <input type="button" value="Load Posts Locally" @click="loadPosts" title="Load Posts that have been saved into your browser">
              <input type="button" value="Import Posts" @click="importPosts" title="Load Posts that have been saved into a .json file">
            </div>
            <div class="form-item split even">
              <input type="button" value="Save Posts Locally" @click="savePosts" title="Save Posts into your browser">
              <input type="button" value="Export Posts" @click="exportPosts" title="Save Posts into a .json file">
            </div>
          </div>
        </div>

        <div id="use" class="main-view" :class="{open: activeView === 'use'}">
          <div class="card">
            <h3 class="card-title">Use The Newsletter</h3>
            <div class="form-item">
              <textarea disabled v-model="newsletterHTML" style="min-height: 100px;" ></textarea>
            </div>
            <div class="form-item even">
              <input type="button" value="Copy Code" @click="copyNewsletterCode">

              <input type="button" value="Copy Newsletter" @click="copyNewsletter">
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script src="js\scripts.js"></script>
</html>
